<div class="container" id="footer-container">
  <!-- Bootstrap Navigation Bar -->
  <nav class="navbar navbar-default navbar-static-bottom" id="footer">
    <div class="container-fluid">

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="row col-xs-offset-1">
          <a href="{{ url_for('index.showIndex') }}" role="button" class="navbar-brand footer-item" id="footer-brand">Farm Finder</a>
          <a href="/" role="button" class="navbar-brand footer-item">About</a>
          <a href="/" role="button" class="navbar-brand footer-item">Contact Us</a>
      </div>

    </div>
  </nav>
</div>
