<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farm Finder</title>
    <link type="image/png" href="{{ url_for('static',filename='logo.png') }}" rel="shortcut icon" alt="Site Logo">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet">
	</head>

	<body>
    {% include "header.html" %}

    {% block content %}
      <div class="row banner padding-none" id="banner">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
          <div id="banner-text-div">
            <h2>Farm</h2>
            <h1>Finder</h1>
          </div>
        </div>
        <div class="col-xs-5 padding-none">
          <div class="banner-img-div center-block">
            <div class="card-container">
              <div class="card" id="f0">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f1">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f2">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f3">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f4">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f5">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f6">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f7">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>

            <div class="card-container">
              <div class="card" id="f8">
                <div class="face front"></div>
                <div class="face back"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1"></div>
      </div>

      <div class="container">
        <div class="main-panel">
          <div class="sub-panel">

            <div class="row padding-top padding-bottom main-panel">
              <div class="col-md-12">
                <p id="intro">Farm Finder is a place for food-growers to come together
                to share their harvests, growing tips, and support. We have a loose
                definition of farm - so whether yours is a kitchen planter, a
                backyard garden, a community garden, or a full-blown operation
                with tractors - you are welcome. You're also welcome if you
                don't have a farm but are on the hunt for something home-grown. As we
                like to say around here: <em class="blue">If you eat, you are in!</em>
                </p>

                <p id="intro">
                Browse the farms of community members in your area. When you're ready
                to barter or buy something from a fellow farmer, simply sign in and
                contact them.
                </p>
                <div id="center-btn-container">
                  <a href="{{ url_for('farm.farmsShowAll') }}" id="solid-a-btn">
                    Find a Farm
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endblock %}

    {% include "footer.html" %}

    <script src="{{ url_for('static',filename='jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='catalog_js.js') }}"></script>
	</body>
</html>
