{% extends "base.html" %}

{% block content %}
  <div class="row small-banner">
    <div class="col-xs-12 padding-none">
      <h1>
        {{ farm.name }}
      </h1>
    </div>
  </div>

  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" id="farm-tabs">
      <li><a href="{{ url_for('catalog.catalogShow',farm_id=farm.id) }}">Catalog</a></li>
      <li class="active"><a href="{{ url_for('profile.profileShow',farm_id=farm.id) }}">Profile</a></li>
      <li><a href="{{ url_for('event.eventShow',farm_id=farm.id) }}">Events</a></li>
    </ul>

    <div class="main-panel">
      <div class="sub-panel">

        <div class="row flash">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>

        <div class="row">
          <h2 class="catalog"></h2>
        </div>

        <div class="row">
          <div class="col-xs-12 padding-top item">
            <h2 class="profile">About Us</h2>
            {% if farm.picture %}
              <img src="{{ url_for('static',filename="".join(['userImages/profile/',farm.picture])) }}" class="img-float" alt="Profile picture" title=""/>
            {% endif %}
            {{ farm.description }}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 padding-top item">
            <h2 class="profile">Location</h2>
            {% if farm.location %}
              {{ farm.location }}
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}